.app-sign-ip-container {
  padding: 24px;

  .sign-in-icon-header {
    width: 100%;
    height: 108px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-top: 1px solid var(--primary-black);
      width: 100%;
      transform: translateY(-50%);
    }

    mat-icon {
      width: 96px;
      height: 96px;
      font-size: 96px;
      color: var(--primary-black);
    }
  }

  .sign-in-form {
    width: 100%;
    margin-bottom: 48px;
  }

  .sign-in-logo-container {
    position: absolute;
    width: 100%;
    bottom: 24px;
    left: 0;

    .sign-in-logo-centered {
      display: flex;
      justify-content: center;
    }
  }
}
